<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= render "layouts/stylesheets" %>
</head>
<body>
	<div class="container">
		<%= render "layouts/header" %>
		<section class="round">
			<%= yield %>
		</section>
		<%= render "layouts/footer" %>
	</div>


</body>
</html>
