
<tr>
  <td class="micropost">
    <span class="content"><%= micropost.content %></span>
    <span class="timestamp">
      Poste il y a <%= time_ago_in_words(micropost.created_at) %>.
    </span>
  </td>
</tr>